
$sizes :(
"xs":30px,
"sm":50px,
"md":80px,
"lg":125px,
"xl":200px,
"embed" :100%,

);

@each $var,$val in($sizes){
    .img-#{$var} {
        height: auto;
        width: $val;

    }
}
 img.zoom {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
img.zoom:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

