.header-group{
  position: relative;
  &.header-img{
    background: no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50%;
    .header-content{
      background-color: rgba(0,0,0,0.03);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      padding: 20px;
      &.content-center{
        align-items: center;
        text-align: center;
      }
      &.content-right{
        align-items: flex-end;
        text-align: right;
      }
    }
  }
}