    .field {
        display: inline-block;
        clear: both;
        padding: 0;
        position: relative;
        .label {
            margin-bottom: 4px;
            text-align: center;
            vertical-align: middle;
            display: inline-flex;
            -webkit-align-items: center !important;
            align-items: center !important;
            justify-content: center;
            margin-right: -30px;
            z-index: 99;
            margin-top: 1px;
            +input {
                border: 1px solid $whiteGray-3;
                vertical-align: middle;
                display: flex;
                -webkit-align-items: center !important;
                align-items: center !important;
                width: 100%;
                padding: .575em;
                line-height: 1.5;
                border-radius: 0 3px 3px 0;
                transition: all 0.4s ease;
                &:hover,
                &:focus {
                    border-color: lighten($info, 30%);
                }
            }
            +textarea {
                border: 1px solid $whiteGray-3;
                height: 70px;
                vertical-align: middle;
                display: flex;
                -webkit-align-items: center !important;
                align-items: center !important;
                text-indent: 30px;
                width: 100%;
                line-height: 1.5;
                border-radius: 0 3px 3px 0;
                transition: all 0.4s ease;
                &:hover {
                    border-color: $info;
                }
            }
        }
        /*input focused*/
        &.line {
            input {
                border: none;
                border-bottom: 1px solid $whiteGray-3;
                border-radius: 0;
                padding-left: 3px;
                &:focus {
                    box-shadow: none;
                }
            }
        }
        &.search {
            width: 300px;
            justify-content: flex-end;
            align-self: flex-end;
            transition: all 0.35s ease-in-out;
            &.start {
                >label:before {
                    left: 3%;
                    right: auto;
                }
                >input {
                    padding-left: 2em;
                    padding-right: 1em;
                }
            }
            &>.input-search {
                transition: all 0.35s ease-in-out;
                padding: 0.65em 2em 0.65em 1em;
                border: 1px solid rgba($black, 0.2);
                width: 100%;
                border-radius: 33px;
                color: #566565;
                &:focus,
                &:hover {
                    border-color: lighten($info, 15%);
                }
            }
            &>label:before {
                font-family: icomoon !important;
                content: "\e9ae";
                position: absolute;
                right: 3%;
                top: 15%;
                bottom: 0;
                font-size: 20px;
            }
        }
        &.success {
            input,
            textarea {
                color: #28a745;
                border-color: lighten($color: #28a745, $amount: 10%);
                &:focus {
                    box-shadow: 0 0 0 0.23rem rgba(#28a745, .25);
                }
            }
            label::after {
                font-family: icomoon;
                content: "\e925";
                position: absolute;
                top: 10px;
                right: 5px;
                color: #28a745;
                font-size: 18px;
            }
        }
        &.error {
            input,
            textarea {
                color: #dc3545;
                border-color: #dc3545;
                &:focus {
                    box-shadow: 0 0 0 0.23rem rgba(#dc3545, .25);
                }
            }
            label::after {
                font-family: icomoon;
                content: "\e9ea";
                position: absolute;
                top: 10px;
                right: 5px;
                color: #dc3545;
                font-size: 18px;
            }
        }
        &.warning {
            input,
            textarea {
                color: $orange-1;
                border-color: $orange-1;
                &:focus {
                    box-shadow: 0 0 0 0.23rem rgba($orange-2, .25);
                }
            }
            label::after {
                font-family: icomoon;
                content: "\e904";
                position: absolute;
                top: 10px;
                right: 5px;
                color: $orange-1;
                font-size: 18px;
            }
        }
        &.form-group {
            display: flex;
            overflow: initial;
            margin: 10px 0;
            * {
                margin: 0;
                border-radius: 0;
                box-shadow: 0 0 transparent;
                cursor: pointer;
            }
            &>*:last-child:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &>*:first-child:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            .dropdown-menu {
                left: 0 !important;
                top: auto;
            }
        }
    }