//colors
$color_california_approx     : #ff9800;
$color_red_orange_approx     : #f44336;
$color_robins_egg_blue_approx: #00bcd4;
$color_apple_approx          : #4caf50;
$color_flamingo_approx       : #ff5722;
$color_fuchsia_blue_approx   : #7e57c2;

