.tooltip {
    position: relative;
    display: inline-block;
    >.content{
        position: absolute;
        display: none;
        background-color:rgba(0,0,0,.95);
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        height: auto;
        border-radius: 3px;
        color:#fff;

        &.top{
                left: 0;
                bottom: 120% ;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
            }
            }

        &.right{
            right: 110%;
            top: -50%;
            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                left:100%; /* To the right of the tooltip */
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent black;
            }
        }


        &.left{
            left: 110%;
            top: -50%;
            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                right:100%; /* To the left of the tooltip */
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
            }

        }

        &.bottom{
            left: 0;
            top: 140%;
            &::after {
                content: " ";
                position: absolute;
                bottom:100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }
        }
    }
    &:hover >.content{
        display: inline-block !important;
        @include animate(fadeIn,0.35s);
     }
}
