.datepicker {
    position: absolute;
    top: 50px;
    left: 0;
    background: #FFF;
    padding: 4px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    font-weight: 400;
    z-index: 50;
    max-width: 300px;
    display: none;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* box-shadow */
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    * {
        /* box-sizing */
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
    .tip {
        position: absolute;
        left: 12px;
        top: -12px;
        z-index: 5;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 12px solid #CCC;
        &:before {
            content: ' ';
            position: absolute;
            left: -8px;
            top: 2px;
            z-index: 20;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid #FFF;
        }
    }
    a {
        text-decoration: none;
        color: #000;
    }
    &.active {
        left: 0;
        display: inline-flex;
        flex-flow: column wrap;
        opacity: 1;
    }
    .datepicker-body {
        .row-week {
            border-bottom: 1px solid #eee;
        }
        .datepicker-days {
            padding: 10px 0;
            color: #888;
            display: inline-block;
            transition: all 0.2s ease-in-out;
            text-align: center;
            width: calc(100% / 7);
            font-size: 14px;
        }
        .datepicker-body-content .datepicker-days:hover {
            background: #e9e9e9;
            cursor: pointer;
        }
    }
    .divider {
        border-bottom: 1px solid #eee !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .datepicker-body {
        padding: 5px 10px;
        .datepicker-body-head {
            border-bottom: 1px solid #eee !important;
            padding: 0 !important;
            margin: 0 !important;
            .datepicker-days {
                font-size: 13px;
                font-weight: 500;
            }
        }
        .datepicker-body-content .datepicker-days {
            font-size: 13px;
            font-weight: 400;
            &.active {
                color: #17f123;
                font-weight: 500 !important;
                font-size: 15px !important;
            }
            &.date-gray {
                color: #b7b6b6;
                background: none;
                font-size: 11px;
            }
        }
    }
    .datepicker-head {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        color: #777;
        .next-date,
        .prev-date {
            font-size: 22px;
            line-height: 0.7;
        }
        .date-summary,
        .next-date,
        .prev-date {
            cursor: pointer;
            padding: 5px 10px;
            transition: all 0.3s ease-in-out;
            color: #555;
        }
        .date-summary:hover,
        .next-date:hover,
        .prev-date:hover {
            background-color: #eee;
        }
    }
    .datepicker-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        background-color: #fff;
        padding: 10px 20px;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        .datepicker-years,
        .datepicker-months {
            padding: 20px 0;
            width: 33.3%;
            color: #888;
            text-align: center;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }
        .datepicker-years {
            &:hover,
            &.active {
                background: #eee;
            }
        }
        .datepicker-months {
            &:hover,
            &.active {
                background: #eee;
            }
        }
    }
}