.lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    z-index: 999;
    &.show {
        @include animate(fadeIn, .5s);
        display: flex;
    }
    &.out {
        display: block;
        @include animate(fadeOut, .7s);
    }
    &>.lightbox-content {
        position: relative;
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        align-items: center;
        &.show {
            @include animate(zoomIn, .6s);
        }
        &.out {
            @include animate(zoomOut, .6s);
        }
        &>iframe {
            min-width: 70%;
            min-height: 50%;
            width: auto;
            height: auto;
        }
    }
    &>.lightbox-article {
        position: absolute;
        bottom: 2%;
        color: #fff;
        text-align: center;
    }
    &>.lightbox-close {
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 24px;
        z-index: 1;
        cursor: pointer;
        &:before {
            color: whitesmoke;
            font-family: icomoon;
            content: "\e9ea";
            font-size: 24px;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            color: white;
        }
    }
}