.sidebar {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  top: 0;
  bottom: 0;
  background-color: #fff;
  min-height: 100%;
  width: 250px;
  padding: 0;
  transition: all 400ms ease-in-out;
  z-index: 9999;

  & {
    left: -100%;

    &.show {
      left: 0;
      box-shadow: 0 3px 20px 0 rgba(33, 33, 33, 0.4);

    }
  }

  &.right {
    left: auto;
    right: -100%;
    &.show {
      right: -5px;
      box-shadow: 0 -3px 20px 0 rgba(33, 33, 33, 0.4);

    }
  }

  > {
    .sidebar-head {
      padding: 0;
      align-items: flex-start;
      width: 100%;
    }

    .sidebar-body {
      width: 100%;
      > .sidebar-content {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        justify-content: flex-start;
        flex-flow: column nowrap;
        padding: 0 !important;
        margin: 0 !important;
        .item,
        li,
        .dropdown,
        .dropdown-menu li {
          width: 100%;
          display: flex;
          text-indent: 20px;
          text-transform: capitalize;
          min-height: 40px;
          transition: all 0.3s ease;
          position: relative;
          flex-flow: column wrap;
          align-items: flex-start;
          justify-content: center;

          &:hover {
            background-color: rgba(55, 55, 55, 0.04);
            transition: all 0.3s ease-in;
          }

          i.fa,
          i.material-icons {
            position: absolute;
            margin: auto 10px;
            top: auto;
            bottom: auto;
            right: 0;
            margin-top: 3px;
          }
        }
      }
    }

    .sidebar-footer {
      display: inherit;
      padding: 0;
      align-items: center;
      align-self: center;
      align-content: center;
      height: auto;
      min-height: 5%;
      max-height: 10%;
      width: 100%;
      text-indent: 20px;
    }
  }
}